# Xcode
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.moved-aside
*.xcuserstate
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Cursor / Editor
.vscode/
.idea/
*.swp
*~
